:root{
    --color-primary: #FD377E;
    --color-primary-hover: #E34981;
    --color-secondary: #03B898;
    --color-grey-card-background: #F8F9FA;
    --color-grey-description: #212529;
    --color-grey-type: #343A40;
    --color-grey-border: #E9ECEF;
    --color-black: #000000;
    --color-white: white;    
    --font-primary: "Nunito", sans-serif;
    --font-secondary: "Inter", sans-serif;
}

